.trafficLightBackground {
    height: 350px;
    width: 150px;
    padding: 25px;
}

.trafficLight {
    height: 100px;
    width: 100px;
}

.trafficLightPost {
    height: 200px;
    width: 1px;
}

.lightSelected{
    box-shadow: 0px 0px 40px 20px rgba(255, 251, 0, 0.493);
}